@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik+Dirt&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root {
	--bg-color: #ffffff;
	--text-color: #000;
	--secound-color: #a09dab;
	--main-color: #f75023;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
	--raw-seinna: hsl(24, 74%, 58%);
  --sizzling-sunrise: hsl(51, 95%, 54%);
  --scarlet: hsl(13, 96%, 47%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /**
   * typography
   */

   --ff-saira-stencil-one: "Saira Stencil One", sans-serif; 
   --ff-poppins: 'Poppins', sans-serif;
   --ff-roboto: 'Roboto', sans-serif;
 
   --fs-1: 2rem;
   --fs-2: calc(1.813rem + 1vw);
   --fs-3: calc(1.313rem + 1vw);
   --fs-4: 1.4rem;
   --fs-5: 1rem;
   --fs-6: 0.813rem;
   --fs-7: 0.75rem;
 
   --fw-400: 400;
   --fw-700: 700;
 
   /**
	* transition
	*/
 
   --transition-1: 0.25s ease-in-out;
 
   /**
	* spacing
	*/
 
   --section-padding: 80px;
 
   /**
	* radius
	*/
 
   --radius-4: 4px;
   --radius-12: 12px;
 
 }
 
 
 
 
 
 /*-----------------------------------*\
  * #THEME COLORS
 \*-----------------------------------*/
 
 body.dark_theme {
 
   --bg-primary: hsl(0, 0%, 12%);
   --bg-secondary: hsl(0, 0%, 19%);
   --color-primary: hsl(0, 0%, 100%);
   --color-secondary: hsl(0, 0%, 62%);
   --card-shadow: hsla(0, 0%, 0%, 0.4);
   --input-bg: hsl(0, 0%, 16%);
 
   --shadow-1: 10px 10px 40px var(--card-shadow);
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 18%;
	transition: .3s;
}

.logo {
	color: var(--text-color);
	font-weight: 800;
}

.logo span:after {
	color: #f75023;
	border: solid 2px --main-color;
}

.navlist {
	display: flex;
}

.navlist li {
	position: relative;
}

.navlist a {
	font-size: var(--p-font);
	color: var(--text-color);
	font-weight: 500;
	padding: 10px 27px;
}

.navlist a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: var(--main-color);
	bottom: -3px;
	left: 0;
	transition: ease .40s;
}

.navlist a:hover::after {
	width: 100%;
}

#menu-icon {
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.top-btn {
	display: inline-block;
	padding: 9px 30px;
	background: transparent;
	border: 2px solid var(--main-color);
	border-radius: 30px;
	color: var(--text-color);
	letter-spacing: 1px;
	font-size: var(--p-font);
	font-weight: 500;
	transition: ease .50s;
}

.top-btn:hover {
	transform: scale(1.1);
	background: var(--main-color);
	border: 2px solid var(--main-color);
	color: var(--bg-color);
}

section {
	padding: 100px 18%;
}

.home {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background: url();
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-gap: 4rem;
}

.home-text h1 {
	margin: 10px 0px 25px;
	font-size: var(--big-font);
	line-height: 1;
	font-weight: 500;
}

.home-text h5 {
	margin-bottom: 23px;
	font-size: 19px;
	font-weight: 500;
}

span {
	color: var(--main-color);
}

.home-text h3 {
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}

.home-text p {
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 20px;
}

.social a {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: rgba(128, 103, 240, 1);
	font-size: 17px;
	color: var(--bg-color);
	margin-right: 22px;
	margin-bottom: 30px;
}

.social a:hover {
	transform: scale(1.1);
	background: var(--main-color);
	transition: .5s;
}

.btn {
	display: inline-block;
	color: var(--bg-color);
	background: var(--main-color);
	font-size: var(--p-font);
	padding: 10px 40px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 30px;
	transition: ease .40s;
}

.btn:hover {
	transform: scale(1.1);
}

.home-img img {
	max-width: 100%;
	width: 540px;
	height: auto;
}

header.sticky {
	background: var(--bg-color);
	padding: 13px 18%;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
}

.sub-box {
	padding: 45px 45px 45px 45px;
	transition: ease .50s;
	cursor: pointer;
}

.sub-img img {
	max-width: 100%;
	width: 60px;
	height: auto;
	margin-bottom: 20px;
}

.sub-box h3 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
}

.sub-box p {
	font-size: var(--p-font);
	color: #000;
	line-height: 29px;
}

.sub-box:hover {
	background: var(--main-color);
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	border-radius: 12px;
	will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05, 1.05, 1.05);
}

.experience h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 7px 0px 20px;
}

.section__title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f75023;
	font-size: 25px;
}


.about {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 2rem;
}

.about-img img {
	max-width: 100%;
	width: 540px;
	height: auto;
}

.about-text h2 {
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 8px 0px 25px;
	line-height: 1.1;
}

.about-text h3 {
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}

.about-text p {
	max-width: 550px;
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 45px;
}

.heading {
	text-align: center;
}

.heading h2 {
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 7px 0px 20px;
	line-height: 1.1;
}

.heading h3 {
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}

.heading p {
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
}

.projects-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
	cursor: pointer;
}

.col {
	position: relative;
}

.col img {
	max-width: 100%;
	width: 550px;
	height: auto;
	object-fit: cover;
	border-radius: 12px;
}

.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px;
	transition: all .40s;
}

.layer:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919);
}

.layer h3{
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	color: var(--bg-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
}
.layer:hover h3{
	bottom: 52%;
	opacity: 1;
}

.skills {
	background: url();
}

.skills-content {
	position: relative;
	display: flex;
	justify-content: space-around;
}

.skills .skills-content .column {
	width: calc(50% - 30px);
}

.skills .skills-content .left .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.skills .skills-content .left p {
	text-align: justify;
	font-weight: 500;
	color: var(--secound-color);
}

.skills .skills-content .left a {
	display: inline-block;
	background: var(--main-color);
	color: var(--main-color);
	font-size: 18px;
	font-weight: 500;
	padding: 8px 16px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid var(--main-color);
	transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
	color: var(--main-color);
	background: none;
}

.skills .skills-content .right .bars {
	margin-bottom: 15px;
}

.skills .skills-content .right .info {
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}

.skills .skills-content .right span {
	font-weight: 500;
	font-size: 18px;
}

.skills .skills-content .right .line {
	height: 5px;
	width: 100%;
	background: lightgrey;
	position: relative;
}

.skills .skills-content .right .line::before {
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background: var(--secound-color);
}

.skills-content .right .html::before {
	width: 90%;
}

.skills-content .right .css::before {
	width: 60%;
}

.skills-content .right .js::before {
	width: 80%;
}

.skills-content .right .php::before {
	width: 50%;
}

.skills-content .right .mysql::before {
	width: 70%;
}

/*=============== CONTACT STARTS
.section__title {
	position: relative;
	display: flex;
	justify-content: space-around;
	color: #f75023;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 1.5px;
}

.contact__container {
	row-gap: 3.5rem;
}

.contact__title {
	display: flex;
	justify-content:flex-start;
	align-items: center;
	column-gap: .5rem;
	font-size: var(--h2-font);
	font-weight: var(--font-semi-bold);
	margin-bottom: 2.5rem;
}

.contact__content-write{
	margin-top: -365px;
}

.contact__title-projects, .contact__form-div{
    height: 100px;
	margin-left: 700px;
	font-size: var(--h2-font);
	font-weight: var(--font-semi-bold);
	display: inline-block;
	
	
}
.contact__title i {
	font-size: 1rem;
	font-weight: initial;
	
}

.contact__title-projects i {
	font-size: 1.3rem;
	font-weight: initial;	
}

.contact__title 
.contact__info,
.contact__data,
.contact__form{
	display: grid;
}

.contact__info {
	row-gap: 2rem;
}

.contact__data {
	row-gap: .75rem;
}
.contact__data-title {
	font-size: small font size;
	color: #000;
	font-weight: 800;
	
}

.contact__data-info {
	font-size: small font size;
	font-family: #000;
	color: #a09dab;
	font-weight: 500;
    margin-bottom: 80px;
}


.contact__button i {
	font-size: 1rem;
	transition: transform .3s;
}
.contact__button:hover i {
	transform: translateX(.25rem);
}

.contact__form {
	position: relative;
	row-gap: 2rem;
}
.contact__form-div{
	position: relative;
	height: 4rem;
}

.contact__form-input {
	position: relative;
	top: 0;
	left: 0;
	width: 80%;
	height: 50%;
	border: 2px solid #000;
	border-radius: 2rem;
	padding: 1.5rem;
	font-size: 1rem;
	color: #000;
	background: none;
	outline: none;
	z-index: 1;
	
}
.contact__form-tag {
	position: absolute;
	top: -.75rem;
	left: 1.25rem;
	z-index: 10;
	background-color: hsl(207, 4%, 99%);
	color: hsl(207, 4%, 16%);
	font-size: .85rem;
	font-weight: 800;
	padding: .35rem;
}
.contact__form-area {
	height: 10rem;
}

.contact__form-area textarea {
	resize: none;
}

.contact__form .contact__button i {
	font-size: 1.5rem;
	font-weight: initial;
}
.contact__message {
	font-size: .875rem;
	position: absolute;
	bottom: .8rem;
	left: .5rem;
}============== */

/*=============== CONTACT ENDS===============*/

/* =============== SUBMIT BUTTON STARTS
.contact__button {
	margin-left: 800px;
	margin-top: -75px;
	margin-bottom: 19px;
}
.contact__button {
	display: inline-block;
	width: max-content;
	column-gap: .5rem;
	padding: 2.5px 10px;
	background: transparent;
	border: 2px solid var(--main-color);
	border-radius: 30px;
	color: var(--text-color);
	letter-spacing: 1px;
	font-size: var(--p-font);
	font-weight: 500;
	transition: all 0.5s ease 0s;
	cursor: pointer;
}

.contact__button:hover {
	transform: scale(1.1);
	background: var(--main-color);
	border: 2px solid var(--main-color);
	color: var(--bg-color);
}============== */

/* =============== SUBMIT BUTTON ENDS============== */


/*-----------------------------------*\
 * #CONTACT
\*-----------------------------------*/

.contact { padding-block: var(--section-padding); }

.section-text { margin-top: 35px; }

.contact-list {margin-top: 50px;}

.contact-list-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item-icon {
  font-size: 25px;
  color: var(--color-primary);
}

.contact-item-icon ion-icon { --ionicon-stroke-width: 40px; }

.contact-item-title { margin-bottom: 10px; }

.contact-list-item .contact-info {
  color: var(--color-secondary);
  font-style: normal;
  line-height: 1.6;
  transition: var(--transition-1);
}

.section-subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f75023;
	font-weight: 800;
}

.sub-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-info:not(address):is(:hover, :focus) { color: var(--color-primary); }
.contact-info {
	color: #a09dab;
}

.contact-form {
  background: var(--bg-secondary);
  padding: 20px;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
  margin-left: 850px;
  margin-top: -380px;
}

.form-wrapper { margin-bottom: 25px; }

.form-label {
  color: var(--color-primary);
  font-size: var(--fs-7);
  font-family: var(--ff-poppins);
  margin-bottom: 8px;
  margin-left: 5px;
}

.input-wrapper { position: relative; }

.input-field {
  background: var(--input-bg);
  color: var(--raw-seinna);
  padding: 10px;
  padding-left: 40px;
  border-radius: var(--radius-12);
  transition: var(--transition-1);
}

.input-wrapper ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--color-secondary);
  font-size: 20px;
  transition: var(--transition-1);
}

textarea.input-field {
  min-height: 60px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
}

.input-field:focus { outline: 1px solid; }

.input-field:focus + ion-icon { color: var(--raw-seinna); }

.button-send {
	display: inline-block;
	padding: 9px 30px;
	background: transparent;
	border: 2px solid var(--main-color);
	border-radius: 30px;
	color: var(--text-color);
	letter-spacing: 1px;
	font-size: var(--p-font);
	font-weight: 500;
	transition: ease .50s;
	margin-left: 25px;
}

.button-send:hover {
	transform: scale(1.1);
	background: var(--main-color);
	border: 2px solid var(--main-color);
	color: var(--bg-color);
}

/* status color */
.color-red{
	color: hsl(4, 71, 50);
}

.color-blue{
	color: hsl(207, 56, 45);
}
.ends {
	text-align: center;
	padding: 40px;
}

.ends p {
	font-size: var(--p-font);
	letter-spacing: 1px;
}



@media (max-width: 1425px) {
	header {
		padding: 16px 3%;
		transition: .3s;
	}

	header.sticky {
		padding: 10px 3%;
		transition: .3s;
	}

	section {
		padding: 70px 3%;
		transition: .3s;
	}

	.contact {
		width: 95%;
		transition: .3s;
	}

	:root {
		--big-font: 4rem;
		--h2-font: 2.3rem;
		--p-font: 1rem;
		transition: .3s;
	}
}

@media (max-width: 970px) {
	#menu-icon {
		display: block;
	}

	.home {
		min-height: 80vh;
	}

	.navlist {
		position: absolute;
		top: -600px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--main-color);
		text-align: right;
		transition: all .40s;
	}

	.navlist a {
		display: block;
		padding: 1.2rem;
		margin: 1.5rem;
		border-right: 2px solid var(--bg-color);
		color: var(--bg-color);
	}

	.navlist a:hover {
		background: var(--bg-color);
		color: var(--main-color);
	}

	.navlist a::after {
		display: none;
	}

	.navlist.active {
		top: 100%;
	}
}

@media (max-width: 800px) {
	.home {
		grid-template-columns: 1fr;
		min-height: 130vh;
		grid-gap: 1rem;
	}

	.home-text {
		padding-top: 55px;
	}

	.home-img {
		text-align: center;
	}

	.home-img img {
		width: 440px;
		height: auto;
	}

	.about {
		grid-template-columns: 1fr;
	}

	.about-img {
		text-align: center;
		margin-bottom: 30px;
	}

	:root {
		--big-font: 3.4rem;
		--h2-font: 2rem;
	}

	section {
		padding: 65px 3%;
		transition: .3s;
	}
}

@media (max-width: 540px) {
	.contact .action form input[type="email"] {
		width: 310px;
	}
}